<header class='flex bg-[#121533] py-3 px-6 sm:px-10 font-[sans-serif] min-h-[70px] tracking-wide relative z-50'>
    <div class='flex flex-wrap items-center justify-between gap-4 w-full'>
      <a href="javascript:void(0)"> 
        <img src="assets\img\Platzi.svg" alt="logo" class='relative w-36 -left-[4px]' />
      </a>
  
      <div id="collapseMenu" 
        class="max-lg:hidden lg:!flex lg:items-center max-lg:before:fixed max-lg:before:bg-black max-lg:before:opacity-40 max-lg:before:inset-0 max-lg:before:z-50">
        <button id="toggleClose"  (click)="toggleMenu()" class='lg:hidden fixed top-5 right-6 rounded-full bg-white z-[100]'>
          <i class="pi pi-times p-2 text-xl text-black"></i>
        </button>
        <ul
          class='lg:!flex lg:gap-x-6 max-lg:space-y-3 max-lg:fixed max-lg:bg-[#151d20] max-lg:w-2/3 max-lg:min-w-[300px] max-lg:top-0 max-lg:left-0 max-lg:px-10 max-lg:py-4 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto z-50'>
          <li class='mb-6 hidden max-lg:block'>
            <button> 
              <img src="assets\img\Platzi.svg" alt="logo" class='w-36' />
            </button>
          </li>
          <li style="margin:0px" class='max-lg:py-3 px-3'>
            <a href='javascript:void(0)' class='text-gray-300 hover:text-white text-base flex items-center'>
               <i class="pi pi-home mr-3"></i>
              Home
            </a>
          </li>
          <li style="margin:0px" class='max-lg:py-3 px-3'>
            <button class='text-gray-300 hover:text-white text-base flex items-center'>
              <i class="pi pi-objects-column mr-3"></i>
              Dashboard
            </button>
          </li>
          <li style="margin:0px" class='max-lg:py-3 px-3'>
            <button class='text-gray-300 hover:text-white text-base flex items-center'>
              <i class="pi pi-user mr-3"></i>
              Profile
            </button>
          </li>
          <li style="margin:0px" class='max-lg:py-3 px-3'>
            <button class='text-gray-300 hover:text-white text-base flex items-center'>
              <i class="pi pi-cog mr-3"></i>
              Settings
            </button>
          </li>
          @if(isLoggedIn$ | async) {
          <li style="margin:0px" class='max-lg:py-3 px-3'>
            <button (click)='logOut()' class='text-gray-300 hover:text-white text-base flex items-center'>
              <i class="pi pi-sign-out mr-3"></i>
              Log Out
            </button>
          </li>
          }
        </ul>
      </div>
  
      <div class='flex items-center max-lg:ml-auto bg-secondary'>
  
        <button id="toggleOpen" class='lg:hidden ml-7 bg-transparent' (click)="toggleMenu()">
          <i class="pi pi-bars text-2xl text-white"></i>
        </button>
      </div>
    </div>

  </header>
  
